.top-app-bar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #e6e7ee !important;
    flex-direction: column; /* Added to stack the toolbars */
    border-radius: 0px 0px 25px 25px;
    margin-bottom: 60px;
}

.top-toolbar, .bottom-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1120px;
}

.texto-logcad {
    font-family: 'Inter' !important;
    font-weight: 200;
    font-size: 12px !important;
    text-transform: none !important;
}

.botoes-top,
.botoes-login-cadastro {
    text-transform: none;
    color: #4CAF4F !important;
    margin-right: 5px !important;
}

.botoesNav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: #4CAF4F;
}

.app-bar-container {
    background: #e6e7ee !important;
    box-shadow: none !important;
    width: 100%;
    
}

.search {
    margin-right: auto;
    width: 460px !important;
    height: 30px !important;
    border-color: #4CAF4F !important;
    color: #4CAF4F;
}

.buscar {
    font-size: 12px !important;
    color: #4CAF4F;
}

.icones {
    color: #4CAF4F;
    margin-left: 20px;
    font-size: 30px !important;
}

.logo {
    image-rendering: optimizeQuality !important;
    width: 200px !important;
    margin-right: auto;
    margin-left: 20px;
}

.botoes-sobrenos-contato, .botoes-categorias {
    color: #4CAF4F !important;
    border-radius: 25px !important;
    margin-left: 10px;
    text-transform: none !important;
    font-size: 12px !important;
}

.botoes-categorias-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}


.nav-botoes {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 60%;
    height: 100%;
    max-width: 1120px;
    margin-bottom: 15px;
    margin-top: 15px;
}

.botao-nav {
    border: none!important;
    color: #fff!important;
    border-radius: 6px!important;
    width: 120px!important;
    height: 25px!important;
    font-size: 12.5px!important;
    text-transform: none!important;
    background-color: #4CAF4F!important;
    font-weight: bold!important;
    transition: box-shadow 0.3s ease;
}

.botao-nav:hover, .botao-nav:focus {
    box-shadow: 0 5px 24px -3px rgba(9, 240, 21, 0.5), inset 0 -48px 24px -48px rgba(255, 255, 255, 0.3);
}