.carrosel-container{
  max-width: 1120px;
  margin: 0 auto!important;
  height: 320px!important;
  margin-top: -50px!important;
  text-decoration: none;
}


.img-carrosel{
  width: 100%;
  height: 260px;
  object-fit: cover;
  border-radius: 10px!important;
}